<section class="tutorial">
<div class="tutorial__blocTitle">
    <div class="tutorial__wrapper">
        <span class="tutorial__titleSquare"></span>
        <h1 class="tutorial__mainTitle">Some expert advice</h1>
    </div>
    <p class="tutorial__desc">Improve with the advice of our experts.</p>
    <a href="#" class="tutorial__link">More</a>
</div>

<div class="tutorial__cardsLarge">

    <div class="tutorial__item">
      img(src=require("../../img/tutorial/img-1-section-4.png") alt="tutorial-1")
    </div>

    <div class="tutorial__item">
      img(src=require("../../img/tutorial/img-2-section-4.png") alt="tutorial-2")
    </div>

    <div class="tutorial__item">
      img(src=require("../../img/tutorial/img-3-section-4.png") alt="tutorial-3")
    </div>

</div>

<div class="tutorial__cards">
    <div class="tutorial__card">
        <div class="tutorial__cardImage">
          img(src=require("../../img/tutorial/photo.png") alt="tutorial-1")
        </div>

        <div class="tutorial__cardText">
            <h1 class="tutorial__cardText-titre">Smarter Food Choices</h1>
            <p class="tutorial__cardText-desc">Selecting the cookware for your kitchen implies a few certain points you should consider: budget, cooking and eating habits, your family size, etc.</p>

            <div class="tutorial__cardLink">
                <a class="tutorial__cardLink-desc" href="#">See the tutorial</a>
                <div class="tutorial__cardLink-icon">
                  img(src=require("../../img/tutorial/icon-learn.svg") alt="Icon learn")
                </div>
            </div>
        </div>
    </div>

    <div class="tutorial__card">
        <div class="tutorial__cardImage">
          img(src=require("../../img/tutorial/photos-about.png") alt="tutorial-1")
        </div>

        <div class="tutorial__cardText">
            <h1 class="tutorial__cardText-titre">Smarter Food Choices</h1>
            <p class="tutorial__cardText-desc">Selecting the cookware for your kitchen implies a few certain points you should consider: budget, cooking and eating habits, your family size, etc.</p>

            <div class="tutorial__cardLink">
                <a class="tutorial__cardLink-desc" href="#">See the tutorial</a>
                <div class="tutorial__cardLink-icon">
                  img(src=require("../../img/tutorial/icon-learn.svg") alt="Icon learn")
                </div>
            </div>

        </div>
    </div>
    
</div>

<div class="tutorial__bullet--slider">
    <span class="tutorial__bullet--item active"></span>
    <span class="tutorial__bullet--item"></span>
    <span class="tutorial__bullet--item"></span>
</div>

</section>