<nav class="menu">

  <div class="menu__large">
    <div class="menu__largeLogo">
      img(src=require("../../img/nav/logo.png") alt="Logo Misen")
    </div>

    <ul class="menu__listLarge">
      <a class="menu__listLarge-item" href="#"><li>About us</li></a>
      <a class="menu__listLarge-item" href="#"><li>Tutorial</li></a>
      <a class="menu__listLarge-item" href="#"><li>Subscribe</li></a>
    </ul>

    <div class="menu__largeCta">
      <p class="menu__largeText">Shop</p>
    </div>
  </div>

  <div class="menu__header">
    <div class="menu__burgerIcon--open">
      img(src=require("../../img/nav/icon-menu.svg") alt="Burger Icon")
    </div>
    <div class="menu__logo">
      img(src=require("../../img/nav/logo.png") alt="Logo Misen")
    </div>
    <div class="menu__cta">
      <span class="icon-cart"></div>
    </div>

    <div class="menu__burgerContent">
      <ul class="menu__nav">
        <a href=“#“ class="menu__nav--item"><li>About us</li></a>
        <a href=“#“ class="menu__nav--item"><li>Tutorial</li></a>
        <a href=“#“ class="menu__nav--item"><li>Subscribe</li></a>
      </ul>
    
    //- <select class="menu__list">
    //-   <option>Deutschland</option>
    //-   <option>Polski</option>
    //-   <option>Portugal</option>
    //-   <option>España</option>
    //-   <option>Россия</option>
    //-   <option>Türkiye</option>
    //-   <option>France</option>
    //-   <option>United Kingdon</option>
    //- </select>
    
    <div class="menu__socialBar">
      <div>
      <a href="#">
        img(src=require("../../img/nav/instagram.jpg") alt="Icone Instagram")
      </a>
      </div>
      <div>
        <a href="#">
          img(src=require("../../img/nav/facebook.png") alt="Icone Facebook")
        </a>
      </div>
      <div>
        <a href="#">
          img(src=require("../../img/nav/twitter.png") alt="Icone Twitter")
        </a>
      </div>
    </div>

    <span class="menu__copyright">2017 Misen Inc. All rights reserved.</span>

    </div>
  </div>

</nav>